body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #2e7d32;
}

.navbar-brand, .nav-link, .navbar-toggler-icon {
    color: #fff !important;
}

a.nav-link {
    border-bottom: 2px solid #2e7d32;
}

.nav-link:hover {
    border-bottom: 2px solid #fff;
}

.carousel-item img {
  max-height: 110vh;
  object-fit: cover;
}

.category-title {
    margin: 40px 0 20px;
    color: #2e7d32;
    font-weight: bold;
    text-transform: uppercase;
}

.col img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

button.btn-eco {
  background-color: #2e7d32;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 25px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

button.btn-eco:hover {
  background-color: #1b5e20;
  color: #fff;
  transform: scale(1.2);
}

footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}